---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mailto.astro";
import LanguagesIcon from "../components/icons/Languages.astro";
import CodeIcon from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
import Tooling from "../components/Tooling.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
---

<Layout
  title="Portfolio de Madro - Programador y Desarrollador Web Developer"
  description="Soy Madro, un Programador y Desarrollador Web. Explora mi Portfolio para descubrir proyectos web que destacan por su creatividad y funcionalidad. ¡Trabajemos juntos para llevar tu visión digital al siguiente nivel!"
>
  <main class="px-4">
    <SectionContainer class="pb-20 py-64">
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, soy Madro. 👋
        <a
          href="https://www.linkedin.com/in/gonzalo-fabi%C3%A1n-madro%C3%B1al-136312269/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Listo para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-white text-wrap max-w-[700px]">
        <span>+3 años de aprendizaje.</span>
        <span class="text-yellow-200/90">Desarrollador y programador Web</span>. <span
          class="text-sky-300">De Buenos Aires, Argentina</span
        > 🇦🇷. <span class="opacity-80"
          >Apasionado por crear aplicaciones que marquen la diferencia.</span
        >
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap opacity-70">
        <SocialPill
          href="https://www.linkedin.com/in/gonzalo-madro%C3%B1al-136312269/"
        >
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/SoyElMadro">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:madronalgonzalo06@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          madronalgonzalo06@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2
        class="text-3xl text-gray-200 font-semibold mb-6 flex gap-x-2 items-center"
      >
        <CodeIcon class="size-8" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="lenguajes">
      <h2
        class="text-3xl text-gray-200 font-semibold mb-6 flex gap-x-2 items-center"
      >
        <LanguagesIcon class="size-8" />
        Skills
      </h2>
      <Tooling />
    </SectionContainer>

    <About />

    <Contact />
  </main>
</Layout>
