<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto px-5">
  <img class="rounded-full size-12" src="#" alt="Gonzalo Madroñal" />

  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="#top">Inicio</a>
    <a class="hidden md:flex" href="#experiencia">Experiencia</a>
    <a class="hidden md:flex" href="#proyectos">Proyectos</a>
    <a class="hidden md:flex" href="#sobre-mi">Sobre mí</a>
    <a class="hidden md:flex" href="#contacto">Contactame</a>
  </nav>

</header>