<header
  class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto px-5"
>
  <nav
    class="flex flex-row gap-x-2 rounded-full border dark:bg-black/25 dark:border-black px-4 py-1 bg-white/10 text-white"
  >
    <a
      class="sm:inline-block hover:bg-white/30 dark:hover:bg-gray-800 rounded-xl px-3"
      href="#proyectos">Proyectos</a
    >
    <a
      class="sm:inline-block hover:bg-white/30 dark:hover:bg-gray-800 rounded-xl px-3"
      href="#lenguajes">Skills</a
    >
    <a
      class="sm:inline-block hover:bg-white/30 dark:hover:bg-gray-800 rounded-xl px-3"
      href="#sobre-mi">Sobre mí</a
    >
    <a
      class="hidden sm:inline-block transition hover:bg-white/30 dark:hover:bg-gray-800 rounded-xl px-3"
      href="#contacto">Contacto</a
    >
  </nav>
</header>
