<section class="flex gap-x-3 mb-12">
  <div class="bg-zinc-900/60 p-4 rounded-xl">
    <slot />
  </div>
  <div>
    <span class="text-md max-sm:text-md text-gray-400">{Astro.props.title}</span>
    <p class="text-lg max-sm:text-[16px]">{Astro.props.text}</p>
  </div>
</section>
