<div class="box-content items-center flex h-20 justify-center text-center m-[1%] flex-wrap">
  <span class="text-md font-medium px-4 py-3 rounded bg-gray-900 text-gray-300 transition hover:scale-110 shadow-black shadow-md">
    <slot />
    <span class="text-md font-bold mt-2">{Astro.props.language}</span>
  </span>
</div>