---
import ToolingItem from "./ToolingItem.astro";
import CSSIcon from "./icons/CSS.astro";
import HTMLIcon from "./icons/HTML.astro";
import JSIcon from "./icons/JS.astro";
import JQueryIcon from "./icons/jQuery.astro";
import TailwindIcon from "./icons/Tailwind.astro";
import TypeScriptIcon from "./icons/TypeScript.astro";
import ReactIcon from "./icons/React.astro";
import NodeIcon from "./icons/Node.astro";
import ExpressIcon from "./icons/Express.astro";
import MongoDBIcon from "./icons/MongoDB.astro";
import MySQLIcon from "./icons/MySQL.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import JavaIcon from "./icons/Java.astro";
import PythonIcon from "./icons/Python.astro";
import NextJSIcon from "./icons/NextJSIcon.astro";
---

<div class="flex flex-wrap justify-center items-center">
  <ToolingItem language="HTML5">
    <HTMLIcon class="size-24 mb-3" />
  </ToolingItem>
  <ToolingItem language="CSS3">
    <CSSIcon class="size-24 mb-3" />
  </ToolingItem>
  <ToolingItem language="JavaScript">
    <JSIcon class="size-24 mb-3" />
  </ToolingItem>
  <ToolingItem language="jQuery">
    <JQueryIcon class="size-24 mb-3" />
  </ToolingItem>
  <ToolingItem language="TailwindCSS">
    <TailwindIcon class="size-24 mb-3" />
  </ToolingItem>
  <ToolingItem language="TypeScript">
    <TypeScriptIcon class="size-24 mb-3" />
  </ToolingItem>
  <ToolingItem language="React">
    <ReactIcon class="size-24 mb-3" />
  </ToolingItem>
  <ToolingItem language="Next.js">
    <NextJSIcon class="size-24 mb-3" />
  </ToolingItem>
  <ToolingItem language="Node.js">
    <NodeIcon class="size-24 mb-3" />
  </ToolingItem>
  <ToolingItem language="Express.js">
    <ExpressIcon class="size-24 mb-3" />
  </ToolingItem>
  <ToolingItem language="MySQL">
    <MySQLIcon class="size-24 mb-3" />
  </ToolingItem>
  <ToolingItem language="MongoDB">
    <MongoDBIcon class="size-24 mb-3" />
  </ToolingItem>
  <ToolingItem language="Astro">
    <AstroIcon class="size-24 mb-3" />
  </ToolingItem>
  <ToolingItem language="Java">
    <JavaIcon class="size-24 mb-3" />
  </ToolingItem>
  <ToolingItem language="Python">
    <PythonIcon class="size-24 mb-3" />
  </ToolingItem>
</div>
