<div class="box-content items-center flex h-16 justify-center text-center m-[1%]">
  <span class="bg-gray-100 text-gray-800 text-sm font-medium px-4 py-2 rounded dark:bg-gray-900 dark:text-gray-300 transition hover:scale-110 shadow-black shadow-md">
    <slot />
    <span class="text-md font-bold mt-2">{Astro.props.language}</span>
  </span>
</div>